# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.depend
core
*.swp
*~
*.exe
doxygen_sqlite3.db
Makefile.in
aclocal.m4
autom4te.cache
config
configure
m4
Makefile
config.log
config.status
libclientserver.pc
libtool
.deps
.libs
