# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.depend
core
*.swp
*~
*.exe
doxygen_sqlite3.db
Makefile.in
aclocal.m4
autom4te.cache
config
configure
m4
Makefile
config.log
config.status
libclientserver.pc
libtool
.deps
.libs
*.log
*.trs
*.tar.gz
docs/Doxyfile
docs/doxyfile.stamp
tests/PIDFile
tests/Queueing
tests/StringCheck
tests/StringChomp
tests/StringJoinList
tests/StringJoinMap
tests/StringJoinVector
tests/StringSplitList
tests/StringSplitMap
tests/StringSplitOne
tests/StringSplitVector
tests/TestClient
tests/TestClientConnection
tests/TestClientEvents
tests/TestFileExists
tests/TestFileRead
tests/TestFileSync
tests/TestFileWrite
tests/TestDirSync
tests/TestNotify
tests/TestPoller
tests/TestProcess
tests/TestSelector
tests/TestServer
tests/TestSignalHandler
tests/TestTimers
tests/ThreadPool
tests/TimerExit
tests/TestSemaphore
tests/TestUuid
tests/TestRequestStringVector
tests/TestSHA1
tests/TestTimeNanoSeconds
tests/LazyScopedPtr
tests/Optional
examples/PollerListen

